<div class="bg-gray-900/70 text-white sticky top-0 z-50 shadow-md">
  <nav class="flex justify-between items-center p-4">
    <!-- <div class="text-2xl font-bold text-gray-800">My Portfolio</div> -->
    <div class="flex items-center space-x-2">
      <i class="fas fa-code text-blue-500"></i>
      <span class="text-2xl font-bold text-white">Kirandeep</span>
    </div>
    <ul class="flex space-x-6 text-white">
      <li>
        <a href="#about-me" class="hover:text-blue-500 transition duration-300" [ngClass]="{
          'text-blue-500 font-bold': isActive('about-me')
        }">About Me</a>
      </li>
      <li>
        <a href="#work-experience" class="hover:text-blue-500 transition duration-300" [ngClass]="{
          'text-blue-500 font-bold': isActive('work-experience')
        }
        ">Work</a>
      </li>
      <!-- <li>
        <a href="#contact" class="hover:text-blue-500 transition duration-300">Contact</a>
      </li> -->
    </ul>
  </nav>
</div>