<!-- add responsiveness when reduced screen size then the options can come under hamburger menu -->
<!-- <div class="bg-gray-900/70 text-white sticky top-0 z-50 shadow-md"> -->
  <div class="bg-gray-800 text-white sticky top-0 z-50 shadow-md">

  <nav class="flex justify-between items-center p-4">
    <div class="flex items-center space-x-2">
      <i class="fas fa-code text-blue-500"></i>
      <span class="text-2xl font-bold text-white">Kirandeep Kaur</span>
    </div>
    <ul class="flex space-x-6 text-white">
      <li>
        <a href="#about-me" class="hover:text-blue-500 px-4 py-2 rounded-md transition duration-300" [ngClass]="{
          'bg-blue-500 text-white font-bold': isActive('about-me')
        }">About Me</a>
      </li>
      <li>
        <a href="#work-experience" class="hover:text-blue-500 px-4 py-2 rounded-md transition duration-300" [ngClass]="{
          'bg-blue-500 text-white font-bold': isActive('work-experience')
        }
        ">Work Experience</a>
      </li>
      <li>
        <a href="#projects" class="hover:text-blue-500 px-4 py-2 rounded-md transition duration-300" [ngClass]="{
          'bg-blue-500 text-white font-bold': isActive('projects') }">Projects</a>
          <li>
            <a href="#education" class="hover:text-blue-500 px-4 py-2 rounded-md transition duration-300" [ngClass]="{
              'bg-blue-500 text-white font-bold': isActive('education') }">Education</a>
          </li>
    </ul>
  </nav>
</div>