<div class="h-screen flex justify-center items-center text-white text-center bg-cover bg-center" style="background-image: url('/portfolio-background.jpg')">
    <div class="max-w-3xl px-5">
      <h1 class="text-5xl md:text-6xl font-extrabold mb-6">Kirandeep Kaur</h1>
      <p class="text-3xl mb-4">Software Developer</p>
      <div>
        <a href="mailto:kiran.kaur1099@gmail.com" class="mr-5 text-white underline hover:text-gray-300">kiran.kaur1099&#64;gmail.com</a>
        <span> <a href="https://www.linkedin.com/in/kiran1308/" class="text-white underline hover:text-gray-300" target="_blank" aria-label="LinkedIn">https://www.linkedin.com/in/kiran1308/</a></span>
      </div>
      <div class="flex justify-center gap-5 mt-5">
        <button class="px-6 py-3 text-base font-bold bg-[#008db3] hover:bg-blue-700 text-white border-none rounded-md cursor-pointer transition-transform hover:scale-105 shadow-lg" (click)="scrollToProjects()">View My Work</button>
        <button class="px-6 py-3 text-base font-bold bg-[#008db3]  hover:bg-blue-700 text-white border-none rounded-md cursor-pointer transition-transform hover:scale-105 shadow-lg" (click)="downloadResume()">Download Resume</button>
      </div>
    </div>
  </div>
  