<div class="banner">
    <div class="banner-content">
      <h1 class="name">Kirandeep Kaur</h1>
      <p class="profession">Software Developer</p>
      <div>
        <a href="mailto:kiran.kaur1099@gmail.com" style="margin-right: 20px; color: white;">kiran.kaur1099&#64;gmail.com</a>
        <span> <a href="https://www.linkedin.com/in/kiran1308/" style="color: white;" target="_blank" aria-label="LinkedIn">https://www.linkedin.com/in/kiran1308/</a></span>
      </div>
      <div class="action-buttons">
        <button class="cta-button" (click)="scrollToProjects()">View My Work</button>
        <button class="cta-button" (click)="downloadResume()">Download Resume</button>
      </div>

    </div>
  </div>
  