<footer class="bg-gray-800 text-white py-4">
   <div class="container mx-auto text-center">
     <h4 class="text-lg font-semibold mb-4 mt-2">Let's Connect!</h4>
     <div class="flex justify-center space-x-6 mb-4">
       <a href="https://www.linkedin.com/in/kiran1308/" target="_blank" class="text-gray-300 hover:text-white">
         <i class="fab fa-linkedin text-xl"></i>
       </a>
       <a href="mailto:kiran.kaur1099@gmail.com" class="text-gray-300 hover:text-white">
         <i class="fas fa-envelope text-xl"></i>
       </a>
       <a href="" class="text-gray-300 hover:text-white">
         <i class="fa-solid fa-location-dot"></i> Mohali, Punjab
         </a>
     </div>
     <p class="text-sm text-gray-400">Built with ❤️ using Angular and TailwindCSS</p>
   </div>
 </footer>
 

