@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green:#69F0AE;
    --green-light: #B9F6CA;
    --gray-light: #BDBDBD;
    --dark-gray: #263238;
    --black: #212121;
}
* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container {
    max-width: 1500px;
    margin: 0 auto;
    outline: 0px solid white;
}
.common-gradient {
    background: white;
    /* background: linear-gradient(135deg, #f8fafc, #e0f7fa) !important; */
    /* background: linear-gradient(135deg, #ffffff, #dce3f8); */
    /* background: linear-gradient(135deg, #e0f7fa, #ffffff); */
}